div
  ul.pagination
    li.pagination-item
      button(type='button', @click='onClickFirstPage', :disabled='isOnFirstPage')
        | First
    li.pagination-item
      button(type='button', @click='onClickPreviousPage', :disabled='isOnFirstPage')
        | <<
    li.pagination-item.extra(v-if='!containsPage(1)')
      |...
    li.pagination-item(v-for='page in pages')
      button(type='button', @click='onClickPage(page.index)', :disabled='page.isDisabled', :class='{ active: isPageActive(page.index) }')
        | {{ page.index }}
    li.pagination-item.extra(v-if='!containsPage(totalPages)')
      |...
    li.pagination-item
      button(type='button', @click='onClickNextPage', :disabled='isOnLastPage')
        | >>
    li.pagination-item
      button(type='button', @click='onClickLastPage', :disabled='isOnLastPage')
        | Last