.pagination
  list-style-type: none
  margin: 0 auto
  .pagination-item
    display: inline-block
    button
      background-color: #F0F0F0
      color: #707086
      font-size: 18px
      padding: 8px 15px
      border-radius: 6px
      border: 1px solid #F0F0F0
      margin: 5px
      outline: none
      &:disabled
        opacity: 0.5
    button.active
      background-color: #87bc87
      border: 1px solid #87bc87
      color: #ffffff
      &:disabled
        opacity: 1
  .extra
    color: #707086
    opacity: 0.8
    padding: 7px 7px
    font-size: 20px
    cursor: default
    user-select: none
