@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.spinner
  display: inline-block
  border: 20px solid rgba(74,178,255,0.5)
  border-left-color: var(--purple)
  border-radius: 50%
  width: 30px
  height: 30px
  animation: spin 1.2s infinite
