transition(name='modal-fade')
  .customModal-backdrop
    .customModal(role='dialog' aria-labelledby='modalTitle' aria-describedby='modalDescription')
      header#modalTitle.customModal-header
        button.btn-close(type='button' @click='close' aria-label='Close modal') X
        slot(name='header')
          span Title
      section#modalDescription.customModal-body
        slot(name='body')
          span Modal body
      footer.customModal-footer
        slot(name='footer')
          span Footer
