transition(name='modal-fade')
  .modal-backdrop
    .modal(role='dialog' aria-labelledby='modalTitle' aria-describedby='modalDescription')
      header#modalTitle.modal-header
        button.btn-close(type='button' @click='close' aria-label='Close modal') X
        slot(name='header')
          span Title
      section#modalDescription.modal-body
        slot(name='body')
          span Modal body
      footer.modal-footer
        slot(name='footer')
          span Footer
