#sidebar
  ul
    router-link.text-center(tag="li" :to="{ name: 'modalView'}")
      a #[span.fa.fa-download] Modal Component
    router-link.text-center(tag="li" :to="{ name: 'mapView'}")
      a #[span.fa.fa-download] Map Component
    router-link.text-center(tag="li" :to="{ name: 'pieChartView'}")
      a #[span.fa.fa-download] Pie Chart Component
    router-link.text-center(tag="li" :to="{ name: 'lineChartView'}")
      a #[span.fa.fa-download] Line Chart Component
    router-link.text-center(tag="li" :to="{ name: 'spinnerView'}")
      a #[span.fa.fa-download] Spinner Component
    router-link.text-center(tag="li" :to="{ name: 'alertView'}")
      a #[span.fa.fa-download] Alert Component
    router-link.text-center(tag="li" :to="{ name: 'paginationView'}")
      a #[span.fa.fa-download] Pagination Component
