#sidebar
  p sidebar
  ul
    router-link(tag="li" :to="{ name: 'modalView'}")
      a #[span.fa.fa-download] Modal Component
    router-link(tag="li" :to="{ name: 'mapView'}")
      a #[span.fa.fa-download] Map Component
